[user]
	email = ksami.ihide@gmail.com
	name = ksami
[push]
  default = simple
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[alias]
    st = status
    cm = commit -m
    c = commit -m
    df = diff
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
    ad = add .
    au = add -u
    a = add .
    ps = push
    pu = push -u origin
    pl = pull
    pp = pull --prune
    fe = fetch
    fp = fetch --prune
    re = rebase
    bd = branch -d
    ba = branch -a
    ch = checkout
    cb = checkout -b
    sh = stash
    sp = stash pop
    sl = stash list
