[user]
	email = ksami.ihide@gmail.com
	name = ksami
[push]
	default = simple
[alias]
    st = status
    cm = commit -m
    c = commit -m
    df = diff
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
    ad = add .
    au = add -u
    a = add .
    sh = show
    ps = push
    pl = pull
