[user]
	email = ksami.ihide@gmail.com
	name = ksami
[push]
	default = simple
[alias]
    st = status
    cm = commit -m
    c = commit -m
    df = diff
    lg = log --graph
    ad = add .
    a = add .
    sh = show
    ph = push
